<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>投票</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/reset.min.css">
</head>
<body>
    <div id="app">
      <mylevel :level="1">
          hello 你好~
      </mylevel>
      <h3>--------------</h3>
      <mylevel :level="2">
        hello 你好~
    </mylevel>
    <h3>--------------</h3>
      <mylevel :level="3">
        hello 你好~
    </mylevel>
    </div>
    <template id="level">
        <div>
            <h1 v-if="level == 1"> <slot></slot> </h1>
            <h2 v-if="level == 2"> <slot></slot> </h2>
            <h3 v-if="level == 3"> <slot></slot> </h3>
            <h4 v-if="level == 4"> <slot></slot> </h4>
            <h5 v-if="level == 5"> <slot></slot> </h5>
            <h6 v-if="level == 6"> <slot></slot> </h6>
        </div>
    </template>
    <script crossorigin="anonymous" integrity="sha384-+jvb+jCJ37FkNjPyYLI3KJzQeD8pPFXUra3B/QJFqQ3txYrUPIP1eOfxK4h3cKZP" src="https://lib.baomitu.com/vue/2.6.11/vue.js"></script>
    <script>
        let mylevel = {  // 局部组件
            template:"#level",
            props: ["level"]
        }
        let vm = new Vue({
            el:"#app",
            components: {
                mylevel
            }
        })
    </script>
</body>
</html>

<!-- 
--------------------------
--------------------------
 -->